
__pycache__/

*.pyc

*.pyo

*.pyd

.Python

env/

venv/

.venv/

pip-log.txt

pip-delete-this-directory.txt

.tox/

.coverage

.coverage.*

.cache

nosetests.xml

coverage.xml

*.cover

*.py,cover

.hypothesis/

.pytest_cache/

*.egg-info/

.installed.cfg

*.egg

MANIFEST

.DS_Store

.git/

.gitignore

*.log

*.tmp

build/

dist/

*.so

*.dylib

*.dll

node_modules/

.npm/

.yarn/

*.tsbuildinfo

.next/

out/

*.swp

*.swo

*~

